# misc 
planning.txt

# frontend 
/frontend/node_modules
/frontend/.env

# Front end Logs
/frontend/logs
/frontend/*.log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*
/frontend/lerna-debug.log*

/frontend/dist
/frontend/dist-ssr
/frontend/*.local

# Front end Editor directories and files
/frontend/.vscode/*
/frontend/!.vscode/extensions.json
/frontend/.idea
/frontend/.DS_Store
/frontend/*.suo
/frontend/*.ntvs*
/frontend/*.njsproj
/frontend/*.sln
/frontend/*.sw?


# backend
/backend/node_modules
/backend/.env

# global
.env